{% extends "index.html" %}


{% block page-content %}

    学员报名
    <div id="content">
    <form class="form-horizontal" method="post" role="form">{% csrf_token %}
    {{ enroll_form.errors }}

    <div class="form-group">
        <label class="col-sm-2 control-label">客户</label>
        <div class="col-sm-10">
            qq:{{ customer_obj.qq }} name:{{ customer_obj.qq_name }}
        </div>
    </div>

        {% for field in enroll_form %}
            <div class="form-group">
                <label class="col-sm-2 control-label">{{ field.name }}</label>
                <div class="col-sm-10">
                    {{ field }}
                </div>
            </div>
        {% endfor %}
        <input type="submit" class="btn btn-info" value="下一步">
    </form>
    <div class="row">
        <ul>
            {% for k,v in msgs.items %}
             <li>{{ k }}:{{ v }}</li>
            {% endfor %}
        </ul>
    </div>
    </div>

{% endblock %}