{% extends 'king_admin/table_index.html' %}
{% load tags %}



{% block container %}
<div class="row">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title"> 重置用户{{ obj.name }}密码</h3>
        </div>
        <div class="panel-body col-lg-5">

            <form class="form-horizontal" method="post">{% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-2 control-label" style="font-weight: normal">用户名</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" value="{{ obj.email }}" disabled>
                    </div>
                    <label class="col-sm-2 control-label" style="font-weight: normal">密码</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="password" name="password1">
                    </div>
                    <label class="col-sm-2 control-label" style="font-weight: normal">密码(重复)</label>
                    <div class="col-sm-6">
                        <input class="form-control" type="password" name="password2">
                    </div>
                    <div>
                    <ul>
                        {% for k,v in errors.items %}
                            <li>{{ k }}:{{ v }}</li>
                        {% endfor %}
                    </ul>
                    </div>
                    </ul>
                    <div class="col-sm-6">
                        <input class="btn btn-info pull-right" type="submit" value="提交">
                    </div>
                </div>
            </form>

        </div>
    </div>

</div>


{% endblock %}
