{% extends "king_admin/table_index.html" %}
{% load tags %}

{% block container %}

    <p>
    <ul>
    {% for k,v in errors.items %}
        <li style="color: red;">{{ k }}:{{ v }}</li>
    {% endfor %}
    </ul>
    </p>

    {% display_obj_related objs %}

    <form method="post">
        {% csrf_token %}
        <input type="hidden" value="yes" name="delete_confirm">
        <input type="hidden" value="{{ selected_ids }}" name="selected_ids">
        <input type="hidden" value="{{ action }}" name="action">
        <input type="submit" class="btn btn-danger" value="Yes,I am sure">
        <a class="btn btn-info" href="{% url 'table_objs' app_name table_name %}" >No,Take me back</a>
    </form>
{% endblock %}
